%comments {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		top: 0;
		bottom: 0;
		border-left: 1px dashed #c1a76e;
		width: 0;
		position: absolute;
		left: 50%;
		z-index: 0;
	}
	li {
		position: relative;
		z-index: 2;
		color: #CBBC9B;
	    width: 50%;
	    padding: 0 0.5rem;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #CBBC9B;
			border-radius: 50%;
			width: 0.6rem;
			height: 0.6rem;
			top: 0.6rem;
		}
		.bookstatus-date {
			height: 1.8rem;
			width: auto;
			display: inline-block;
			font-style: italic;
			color: #fff;
			padding: 0.3rem 0.7rem 0;
			border-radius: 0.9rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 0.5rem;
		}
		.bookstatus-progress {
			clear: both;
		}
		&:nth-child(odd) {
			padding-right: 1rem;
			&:before {
				right: 0;
				transform: translate(50%, 0);
			}
			.bookstatus-date {
				float: right;
			}
		}
		&:nth-child(even) {
			padding-left: 1rem;
			margin-left: 50%;
			&:before {
				left: 0;
				transform: translate(-50%, 0);
			}
			.bookstatus-date {
				float: left;
			}
		}
	}
}