.author {
	&-avatar {
		float: left;
		margin: 0 0.5rem 0.5rem 0;
	}
	h3 {
		clear: both;
		text-align: center;
		margin-top: 1rem;
	}
	&-facts {
		margin-left: 95px;
		padding: 0.5rem;
		dl {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
		dt, dd {
			display: block;
			float: left;
			padding: 0;
			margin: 0;
		}
		dt {
			clear: left;
			font-weight: bold;
			padding-right: 0.5rem;
			&:after {
				content: ': ';
			}
		}
	}

	&-biography {

	}
	&-infos {

	}
	&-videos iframe {
		margin: 0;
		padding: 0;
		border: 0;
		display: block;
	}
	&-tags {
		list-style: none;
		padding: 0;
		margin: 0;
		div {
			display: inline-block !important;
			margin: 0 0.5rem 0.5rem 0 !important;
		}
	}
}