.bookdetails {
	position: relative;
	h3 {
		text-align: center;
	}
	header {
		padding-bottom: 0.8rem;
		h1, h2, h3 {
			text-align: center;
			margin: 0;
			a {
				text-decoration: none;
			}
		}
		h1 {
			margin-top: 1rem;
			font-size: 1.2rem;
		}
		h2 {
			font-size: 1.5rem;
			margin: .2rem 0;
		}
		h3 {
			font-size: 1rem;
			font-weight: normal;
		}
	}
	&-cover {
		margin: 0 auto;
		display: block;
		width: 190px;
		position: relative;
		margin-bottom: 2rem;
		img {
			display: block;
		}
	}
	&-lesestatus {
		position: absolute;
		top: 50%;
		right: 40px;
		border: 1px solid #fff;
		border-radius: 20px;
		background: #981217;
		color: #fff;
		padding: 5px 15px;
		text-decoration: none;
		transform: rotate(-15deg);
	}
	&-description {
		margin: 1rem;
	}
	&-raffle {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		color: white;
		padding: .2rem;
		font-size: 0.88rem;
		text-align: center;
		vertical-align: middle;
	}
}