@import "comments";

.bookstatusForm {
	h4 {
		margin: 0;
	}
	label {
		display: block;
		width: 100%;
	}
	textarea {
		width: 100%;
		display: block;
		min-height: 4rem;
	}
	label.inline {
		float: left;
		width: auto;
	}
	input[type="number"] {
		width: 4rem;
	}
	button {
		float: right;
		display: block;
	}
}
