@import "comments";

.bookstatus {
	.bookstatusForm {
		display: block;
		overflow: visible;
		margin: 0 -0.5rem;
		padding: 0.5rem;
		background: #F2F1ED;
		position: relative;
		border-top: 1px solid #c1a76e;
		border-bottom: 1px solid #c1a76e;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -0.5rem;
			border-color: #F2F1ED #F2F1ED #c1a76e #c1a76e;
			border-width: 1px;
			border-style: solid;
			width: 1rem;
			height: 1rem;
			transform: rotate(-45deg);
			background: #F2F1ED;
			z-index: 2;
		}
		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
		}
	}

	h3 {
		text-align: center;
	}
	.bookstatusComments {
		li:nth-child(odd) {
			padding-right: 1rem;
			&:before {
				right: 0;
				transform: translate(50%, 0);
			}
			.bookstatus-date {
				float: right;
			}
			.bookstatus-progress em {
				text-align: right;
			}
		}
		li:nth-child(even) {
			padding-left: 1rem;
			margin-left: 50%;
			&:before {
				left: 0;
				transform: translate(-50%, 0);
			}
			.bookstatus-date {
				float: left;
			}
			.bookstatus-progress em {
				text-align: left;
			}
		}
		@extend %comments;
		padding-top: 2rem;
		.bookstatus-comment {
			background-color: #FAF9F7;
			padding: 0.6rem;
		    border: 1px solid #E7E5E3;
		    border-radius: 4px;
			color: #433924;
			font-size: 0.88rem;
		    width: 100%;
		    &:empty {
		    	display: none;
		    }
			.bookstatus-defaultComment {
			    font-style: italic;
				color: #CBBC9B;
			}
		}
		.bookstatus-progress {
			font-size: 0.88rem;
			margin-bottom: 0.5rem;
			em {
				display: block;

			}
		}
		.bookstatus-progress-bar {
			background-color: #F2F1ED !important;
			div {
				background-color: #efe0a9 !important;
			}
		}
		.bookstatus-date {
			background-color: #CBBC9B;
			color: #fff;
			border-radius: 5px;
			font-size: 0.88rem;
		}
		li:last-child {
			width: 100%;
			margin-left: 0;
			margin-bottom: 1rem;
			margin-right: 1rem;
			margin-top: 2rem;
			text-align: center;
			padding: 0 0.5rem;
			&:before {
				content: '';
				display: none;
			}
			.bookstatus-progress {
				display: none;
			}
			.bookstatus-date {
				margin: 0 none;
				float: none;
			}
			.bookstatus-comment {
				text-align: center;
				position: relative;
				margin-top: 1rem;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -10px;
					left: 50%;
					margin-left: -0.5rem;
					border-color: #E7E5E3 #E7E5E3 #FAF9F7 #FAF9F7;
					border-width: 1px;
					border-style: solid;
					width: 1rem;
					height: 1rem;
					transform: rotate(-45deg);
					background: #FAF9F7;
					z-index: 2;
				}
			}
		}
	}
}
