.booklist {
	.booklist-entry {
	    position: relative;
	    width: 155px;
	    display: inline-block;
	    margin: 0 0.5rem 0.5rem 0;
	    vertical-align: top;
	    position: relative;
	    z-index: 1;
	}
	.booklist-entry-image {
	    position: relative;
	    z-index: 1;
		width: 100%;
	}
	.booklist-entry-text {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.75);
		color: #fff;
		padding: 0.3rem;
		overflow: hidden;
	    z-index: 2;
		em, strong {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
	&--s {
		.booklist-entry {
		    width: 70px;
		    font-size: 0.6rem;
		}
	}
	&--m {
		.booklist-entry {
		    width: 110px;
		    font-size: 0.72rem;
		}
	}
	&--l {
		.booklist-entry {
		    width: 155px;
		    font-size: 0.88rem;
		}
	}
	&--xl {
		.booklist-entry {
		    width: 190px;
		    font-size: 1rem;
		}
	}
}