.group {
	.group-details {
		clear: left;
		margin: 0.5rem 0 0 0;
		list-style: none;
		overflow: hidden;
		text-align: left;
		padding: 0;
		li {
			float: left;
			margin: 0;
			padding: 0;
			padding-right: 0.3rem;
			border-right: 1px solid;
			margin-right: 0.3rem;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}
		}
	}
	.group-cover {
		float: left;
		margin-right: 1rem;
		margin-bottom: 0.5rem;
		padding: 0.2rem;
		background: #fff;
	}
}