body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background: url('../img/background.jpg') repeat;
}

html, body, #root {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

main {
	padding: 1rem 0.5rem;
	line-height: 1.5;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	a {
		color: #BF360C;
	}
}
h2 {
	margin: 0.5rem 0 1rem 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	a {
		color: #BF360C;
	}
}
h3 {
	margin: 0.5rem 0;
	padding: 0;
	font-size: 1rem;
	font-weight: bold;
	a {
		color: #BF360C;
	}
}
h2 + h3 {
	margin-top: -1rem;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1rem;
}
a {
	text-decoration: none;
	color: #BF360C;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #faf3e1 inset;
}
