.message {
	.message-subject {
		padding: .5rem 0;
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
		margin-left: 0.5rem;
	}
	.message-message {
	}
	.message-actions {
		text-align: center;
	}
	.message-prev, .message.next {
		font-size: 36px;
	}
	&-cite {
		background: #FAF9F7;
		padding: .5rem;
		border: 1px solid #E7E5E3;
		border-radius: 4px;
		margin: 1rem 0;
	}
	&-cite-header {
		display: block;
	}
	&-cite-from, &-cite-to, &-cite-date {
		font-style: italic;
	}
	&-cite-subject {
		padding: 0 0.5rem 0 0;
		display: block;
		font-weight: bold;
	}
}