.userbadge {
	padding: 0.5rem;
	display: block;
	.username {
		display: block;
		text-align: center;
		text-decoration: none;
	    font-weight: bold;
	    margin: 0 0 0.5rem 0;
	}
	.userimage {
		display: block;
		float: left;
		margin: 0.5rem 0.5rem 0.5rem 0;
	}
	.userstats {
		font-size: 0.88rem;
	}
}